{% extends 'base.html.twig' %}

{% block body %}
   <h1>Bienvenue sur notr site</h1>
   <a href="{{ path('app_liste') }}">Aller vers liste</a><br>
   <a href="{{ path('app_main') }}">Aller vers main</a><br>

   <a href="{{ path('app_somme',{ a:1000, b:2000}) }}">Aller vers somme</a>
{% endblock %}