{% extends 'base2.html.twig' %}

{% block title %}Liste produit{% endblock %}

{% block body %}
<h1> Ajout d'un nouveau produit</h1>
<div class="container">
   
<h2>Produit {{ produit.nom }} Enregistre avec Succes (id :{{ produit.id }} ) </h2>
</div>

{% endblock %}
