{% extends 'base2.html.twig' %}

{% block title %}Suppression{% endblock %}

{% block body %}
<h1> Suppression d'un produit</h1>
<div class="container">
   
<h2>Produit {{ id }} supprime avec Succes... </h2>
</div>

{% endblock %}
