{% extends 'base2.html.twig' %}

{% block title %}Modif produit{% endblock %}

{% block body %}
<h1> Modification d'un produit</h1>
<div class="container">
   
<h2>Produit {{ produit.nom }} modifie avec Succes (id :{{ produit.id }} ) </h2>
</div>

{% endblock %}
